/*

red: #B30001
eggshell: #e3e1db
white: #e3e1db
slate: #2d3034
light blue: #8fc0bb
deep blue: #2d308f
taupe: #9a8e72


*/


html {
    font-size:62.5%;  /* set 1em to 10px */
    background-color: #e3e1db;
}

body {
    font: 1.6em Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #333333;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#body-content > div {
    margin: 1em auto;
    width: 780px;
    background-color: #fff;
    padding: 1em;
}

#body-content > #header {
    text-align: right;
}

#body-content > #main {
    text-align: left;
}

div#footer {
    font-size: 80%;
    text-align: center;
    background-color: #e3e1db;
    padding: 0px;
}

#footer > ul {
    display: inline;
    margin: 0px auto;
}

#footer > ul > li {
    display: inline;
}

form {
    width: 28em;
}

form ul, form li {
    list-style-type: none;
}

form li {
    text-align: right;
    margin-top: .3em;
}

form li.checkbox label, form li.checkbox input {
    cursor: pointer;
}

form li.buttons {
    margin-top: 1.5em;
    font-size: 95%;
}

fieldset {
    border: .3em #ccc solid;
}

legend {
    margin: 0px 1em;
    padding: 0px .5em;
}

h2 {
    color: #2d3034;
}

a {
    color: #2d308f;
}

a:hover {
    color: #B30001;
}

a:visited {
    color: #65308f;
}

/* === FLASH MESSAGES === */
div.flash {
    width: 26.2em;
    border: 5px #ccc solid;
    padding: .5em;
}

div#flash-notice {
    border-color: #00ff00;
}

div#flash-warning {
    border-color: #ffcc00;
}

div#flash-error {
    border-color:#ff0000;
}

/* === ERROR MESSAGES === */
div#errorExplanation {
}

div#errorExplanation h2 {
    
}

div#errorExplanation p {
    
}

div#errorExplanation ul {
    
}

div#errorExplanation ul li {
    
}

/* === FORMS === */
div.fieldWithErrors {
}

div.fieldWithErrors label {
}

div.fieldWithErrors input, div.fieldWithErrors select, 
div.fieldWithErrors textarea
{
}

#openid-options a {
    cursor: pointer;
}